@font-face{
   font-family: "Montserrat-SemiBold.ttf";
   src: url(../storage/fonts/Montserrat-SemiBold.ttf);
}

@font-face{
   font-family: "Montserrat-Medium.ttf";
   src: url(../storage/fonts/Montserrat-Medium.ttf);
}

@font-face{
   font-family: "Montserrat-Regular.ttf";
   src: url(../storage/fonts/Montserrat-Regular.ttf);
}

@font-face{
   font-family: "Montserrat-Light.ttf";
   src: url(../storage/fonts/Montserrat-Light.ttf);
}

@font-face{
   font-family: "Montserrat-Bold.ttf";
   src: url(../storage/fonts/Montserrat-Bold.ttf);
}